lang: en-US
host: 0.0.0.0
port: 4000
title: Programming Dungeon
email: alexanderluna1891@gmail.com
description: "Code like Good Wine, takes times"
image: /assets/img/main
baseurl: null
url: "https://alexanderluna.github.io"
google_analytics: UA-112012666-1
author:
  name: Alexander Luna
github_username: alexanderluna
codepen_username: mr-moon
logo: /favicon.svg
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate
feed:
  path: atom.xml
paginate: 10
paginate_path: "/page:num/"
exclude:
  - package.json
  - yarn.lock
  - Gruntfile.js
  - .asset-cache
  - .bundle
  - .codeclimate.yml
  - .editorconfig
  - .gitattributes
  - .jekyll-assets-cache
  - .sass-cache
  - Gemfile
  - Gemfile.lock
  - node_modules
  - Rakefile
  - README
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - assets/images_src
  - docker-compose.yml
collections:
  category:
    output: true
defaults:
  - scope:
      path: _posts
      type: posts
    values:
      layout: post
      read_time: true
  - scope:
      path: ""
      type: category
    values:
      layout: "category"
permalink: none
