---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

.sidebar-toggle-label {
  color: white;
}


.highlight {
  background-color: #262626;
  border-radius: 0.5em;
}


div {
  .inner {
    margin: auto;
  }
}


.highlighter-rouge {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 0.2em;
  background: rgba(255, 74, 76, 0.33);
}

.site-logo {
  border-radius: 0%;
}

.info-box {
  border: 2px dashed;
  padding: 1rem;
}

strong {
  font-weight: bolder;
  color: red;
}
// .sidebar-toggle-wrapper {
//   background-color: #00adb5;
//   border-bottom-left-radius: 40%;
//   border-top-left-radius: 40%;
// }
